<div class='container mt-5 d-flex justify-content-center align-items-center'>
  <div class='row'>
    <div class='col'>
      <div class='card'>
        <div class='card-header'>
          サインアップ
        </div>
        <div class='card-body'>
          <%= form_with model: @signup_form, url: users_path, scope: :signup_form do |f|%>
            <div class='mb-3'>
              <%= f.label :name, t('activemodel.attributes.signup_form.name') %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class='mb-3'>
              <%= f.label :email, t('activemodel.attributes.signup_form.email') %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class='mb-3'>
              <%= f.label :password, t('activemodel.attributes.signup_form.password') %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class='mb-3'>
              <%= f.label :password_confirmation, t('activemodel.attributes.signup_form.password_confirmation')%>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class='text-end'>
              <%= f.submit 'サインアップ',class: 'btn btn-primary'%>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>