<div class='container mt-5 d-flex justify-content-center align-items-center'>
  <div class='row'>
    <div class='col'>
      <div class='card'>
        <div class='card-header'>
          サインイン
        </div>
        <div class='card-body'>
          <%= form_with url: signin_path do |f|%>
            <div class='mb-3'>
              <%= f.label :email, t('activemodel.attributes.signup_form.email')%>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class='mb-3'>
              <%= f.label :password, t('activemodel.attributes.signup_form.password')%>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class='text-end'>
              <%= f.submit 'サインイン',class: 'btn btn-primary'%>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>